<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="post.title">{{ post.title }}</mat-card-title>
    <br>
    <mat-card-subtitle><b>Lat: </b>{{ post.lat }} <b>Long: </b>{{ post.long }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="post.image_url" src='{{ post.image_url }}' alt="-">
  <mat-card-content *ngIf="post.content">
    <p>{{ post.content }}</p>
  </mat-card-content>
  <mat-divider></mat-divider><br>

  <mat-card-actions>
    <button class="mat-raised-button" (click)="openPopup(post, 'edit')">Edit<mat-icon aria-hidden="false"
        aria-label="edit-icon" fontIcon="mode_edit_outline">
      </mat-icon>
    </button>
    <button class="mat-raised-button mat-primary" (click)="openPopup(post, 'delete')">Delete
      <!--<mat-icon aria-hidden="false" aria-label="delete-icon"
          fontIcon="delete_outline">
        </mat-icon>-->
    </button>
  </mat-card-actions>
</mat-card>
<!--<ng-template><app-popup (newItemEvent)="managePost($event)"></app-popup></ng-template>-->