/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button {
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  width: 100px;
  height: 40px;
  //text-align: center;
}

mat-dialog-actions {
  display: block !important;
  text-align: right !important;
}

mat-card-actions {
  display: block;
  text-align: right;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.gm-style-iw.gm-style-iw-c{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.gm-style-iw-d{
  padding-right: 5px;
}